body {
    font-family: Arial, Helvetica, sans-serif;
    font-size: 13px;
    margin: 0;
}

form {
    font-family: inherit;
    font-size: inherit;
}

form input {
    font-family: inherit;
    font-size: inherit;
}